.back {
  position: absolute;
  top: 12%;
  left: 80%; }

.signup {
  position: absolute;
  max-width: 50%;
  top: 20%;
  left: 25%; }

  body {
      background-image: url("3.jpg");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      opacity: 100;
  }
