body {
    background-image: url("3.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
h1 {
    font-size: 2.8em;
    color: white;
    position: absolute;
    left: 5%;
    top: 38%;
}

div.log{
  left: 37%;
  top: 58%;
  position: absolute;
}

div.sign{
  left: 48%;
  top: 58%;
  position: absolute;
}

a.nav {
      font-size: 2.5em;
      text-decoration: overline;
      color: red;
}

a.nav:link {color: blue; text-decoration: none; }
a.nav:visited {color: blue; text-decoration: none; }
a.nav:hover {color: orange; text-decoration: underline; }
a.nav:active {color: red; }
#intro {
    font-size: 1.3em;
}
.colorful {
    color: orange;
}
