body {
    background-image: url("3.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 100;
}
h1 {
    font-size: 2.8em;
    color: white;
    position: absolute;
    left: 5%;
    top: 38%;
}

div.log{
  left: 37%;
  top: 58%;
  position: absolute;
}

div.sign{
  left: 48%;
  top: 58%;
  position: absolute;
}

a.nav {
      font-size: 2.5em;
      text-decoration: overline;
      color: red;
}

a.nav:link {color: red; text-decoration: none; }
a.nav:visited {color: purple; text-decoration: none; }
a.nav:hover {color: yellow; text-decoration: underline; }
a.nav:active {color: yellow; }
#intro {
    font-size: 1.3em;
}
button {
  background-color: #4CAF50;
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
}
